h1 {
  color: #f00;
}
body {
  margin-top: 180px;
}
.well {
  background-color: #f00 !important;
}
.pcont {
  max-width: 100%;
}
.dad {
  background-color: #000;
  border: 5px dashed #ddd;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}
.dragover {
  border: 5px dashed #008000;
}
body:active .dad {
  display: block;
}
span {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.img-responsive {
  max-height: 100%;
}
imgContainer {
  width: 500px;
  height: 500px;
}
.centerY {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}
